<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartGasApp"
        tools:targetApi="31">
        <activity
            android:name=".DeliveryMethod"
            android:exported="false"
            android:label="選擇服務方式"
            android:parentActivityName=".OrderGas"
            />
        <activity
            android:name=".ScanOriginalQRCode"
            android:exported="false"
            android:label="@string/scanOriginalString"
            android:parentActivityName=".Homepage" />
        <activity
            android:name=".ScanNewQRCode"
            android:exported="false"
            android:label="@string/scanNewString"
            android:parentActivityName=".ScanOriginalQRCode" />
        <activity
            android:name=".ScanReceiptQRCode"
            android:exported="false"
            android:label="@string/scanReceiptString" />
        <activity
            android:name=".OrderListFinished"
            android:exported="false"
            android:label="@string/searchOrderList" />
        <activity
            android:name=".OrderListUnfinished"
            android:exported="false"
            android:label="@string/searchOrderList" />
        <activity
            android:name=".UserDashboard"
            android:exported="false"
            android:label="@string/title_user_dashboard" />
        <activity
            android:name=".Homepage"
            android:exported="false"
            android:label="@string/title_home" />
        <activity
            android:name=".PersonalBarcode"
            android:exported="false"
            android:label="我的條碼"
            android:parentActivityName=".Homepage" />
        <activity
            android:name=".GasCompanyLocation"
            android:exported="false"
            android:label="瓦斯行地點"
            android:parentActivityName=".Homepage" />
        <activity
            android:name=".NotificationFrequency"
            android:exported="false"
            android:label="通知頻率與時間"
            android:parentActivityName=".UserDashboard" />
        <activity
            android:name=".FamilyInvitationCode"
            android:exported="false"
            android:label="家人邀請碼"
            android:parentActivityName=".UserDashboard" />
        <activity
            android:name=".GasExchange"
            android:exported="false"
            android:label="累計殘氣兌換"
            android:parentActivityName=".Homepage" />
        <activity
            android:name=".cylinder_gas_menu"
            android:exported="false"
            android:label="瓦斯訂購"
            android:parentActivityName=".Homepage" />
        <activity
            android:name=".CompositeGasMenu"
            android:exported="false"
            android:label="瓦斯訂購"
            android:parentActivityName=".Homepage" />
        <activity
            android:name=".OrderGas"
            android:exported="false"
            android:label="瓦斯訂購"
            android:parentActivityName=".Homepage" />
        <activity
            android:name=".OrderDetail"
            android:exported="false"
            android:label="訂單明細" />
        <activity
            android:name=".UsageHistory"
            android:exported="false"
            android:label="歷史用量與調查"
            android:parentActivityName=".Homepage" />
        <activity
            android:name=".EventPage"
            android:exported="false"
            android:label="活動公告"
            android:parentActivityName=".UserDashboard" />
        <activity
            android:name=".PointPage"
            android:exported="false"
            android:label="@string/point"
            android:parentActivityName=".Homepage" />
        <activity
            android:name=".EditPersonalInfo"
            android:exported="false"
            android:label="@string/edit_personal"
            android:parentActivityName=".UserDashboard" />
        <activity
            android:name=".ForgetPassword2"
            android:exported="false" />
        <activity
            android:name=".ForgetPassword1"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>