<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="26"
        android:maxSdkVersion="34" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartGasApp"
        tools:targetApi="31">
        <activity
            android:name="com.example.smartgasapp.userIot"
            android:exported="false"
            android:label="我的 IOT"
            android:parentActivityName="com.example.smartgasapp.Homepage"/>
        <activity
            android:name="com.example.smartgasapp.SearchOrderResult"
            android:exported="false"
            android:label="訂單明細" />
        <activity
            android:name="com.example.smartgasapp.SearchOrderResultFinished"
            android:exported="false"
            android:label="訂單明細" />
        <activity
            android:name="com.example.smartgasapp.ConfirmDelivery"
            android:exported="false" />
        <activity
            android:name="com.example.smartgasapp.DeliveryMethod"
            android:exported="false"
            android:label="選擇配送方式"
            android:parentActivityName="com.example.smartgasapp.OrderGas" />
        <activity
            android:name="com.example.smartgasapp.ScanOriginalQRCode"
            android:exported="false"
            android:label="@string/scanOriginalString"
            android:parentActivityName="com.example.smartgasapp.Homepage" />
        <activity
            android:name="com.example.smartgasapp.ScanNewQRCode"
            android:exported="false"
            android:label="@string/scanNewString"
            android:parentActivityName="com.example.smartgasapp.ScanOriginalQRCode" />
        <activity
            android:name="com.example.smartgasapp.ScanIotQRCode"
            android:exported="false"
            android:label="掃描IOT的QrCode"
            android:parentActivityName="com.example.smartgasapp.userIot"/>
        <activity
            android:name="com.example.smartgasapp.OrderListFinished"
            android:exported="false"
            android:label="@string/searchOrderList"
            android:parentActivityName="com.example.smartgasapp.Homepage" />
        <activity
            android:name="com.example.smartgasapp.OrderListUnfinished"
            android:exported="false"
            android:label="@string/searchOrderList"
            android:parentActivityName="com.example.smartgasapp.Homepage" />
        <activity
            android:name="com.example.smartgasapp.UserDashboard"
            android:exported="false"
            android:label="@string/title_user_dashboard" />
        <activity
            android:name="com.example.smartgasapp.Homepage"
            android:exported="false"
            android:label="@string/title_home"/>
        <activity
            android:name="com.example.smartgasapp.PersonalBarcode"
            android:exported="false"
            android:label="我的QRCODE"
            android:parentActivityName="com.example.smartgasapp.Homepage" />
        <activity
            android:name="com.example.smartgasapp.GasCompanyLocation"
            android:exported="false"
            android:label="瓦斯行地點"
            android:parentActivityName="com.example.smartgasapp.Homepage" />
        <activity
            android:name="com.example.smartgasapp.NotificationFrequency"
            android:exported="false"
            android:label="通知頻率與時間"
            android:parentActivityName="com.example.smartgasapp.UserDashboard" />
        <activity
            android:name="com.example.smartgasapp.FamilyInvitationCode"
            android:exported="false"
            android:label="家人邀請碼"
            android:parentActivityName="com.example.smartgasapp.UserDashboard" />
        <activity
            android:name="com.example.smartgasapp.GasExchange"
            android:exported="false"
            android:label="累計殘氣兌換"
            android:parentActivityName="com.example.smartgasapp.Homepage" />
        <activity
            android:name="com.example.smartgasapp.cylinder_gas_menu"
            android:exported="false"
            android:label="瓦斯訂購"
            android:parentActivityName="com.example.smartgasapp.Homepage" />
        <activity
            android:name="com.example.smartgasapp.CompositeGasMenu"
            android:exported="false"
            android:label="瓦斯訂購"
            android:parentActivityName="com.example.smartgasapp.Homepage" />
        <activity
            android:name="com.example.smartgasapp.OrderGas"
            android:exported="false"
            android:label="瓦斯訂購"
            android:parentActivityName="com.example.smartgasapp.Homepage" />
        <activity
            android:name="com.example.smartgasapp.OrderDetail"
            android:exported="false"
            android:label="瓦斯訂購"
            android:parentActivityName="com.example.smartgasapp.Homepage" />
        <activity
            android:name="com.example.smartgasapp.OrderSuccess"
            android:exported="false"
            android:label="訂單完成" />
        <activity
            android:name="com.example.smartgasapp.UsageHistory"
            android:exported="false"
            android:label="用量調查"
            android:parentActivityName="com.example.smartgasapp.Homepage" />
        <activity
            android:name="com.example.smartgasapp.EventPage"
            android:exported="false"
            android:label="活動公告"
            android:parentActivityName="com.example.smartgasapp.UserDashboard" />
        <activity
            android:name="com.example.smartgasapp.PointPage"
            android:exported="false"
            android:label="@string/point"
            android:parentActivityName="com.example.smartgasapp.Homepage" />
        <activity
            android:name="com.example.smartgasapp.EditPersonalInfo"
            android:exported="false"
            android:label="@string/edit_personal"
            android:parentActivityName="com.example.smartgasapp.UserDashboard" />
        <activity
            android:name="com.example.smartgasapp.ForgetPassword2"
            android:exported="false"
            android:parentActivityName="com.example.smartgasapp.ForgetPassword1"/>
        <activity
            android:name="com.example.smartgasapp.ForgetPassword1"
            android:exported="false"
            android:parentActivityName="com.example.smartgasapp.ui.login.LoginActivity"
            />
        <activity
            android:name="com.example.smartgasapp.ui.login.LoginActivity"
            android:exported="true"
            android:label="Smart Gas App">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name="com.example.smartgasapp.Register"
            android:exported="false"
            android:label="註冊會員" />
        <activity
            android:name="com.example.smartgasapp.MainActivity"
            android:exported="true" />

<!--        <receiver-->
<!--            android:name="com.example.smartgasapp.NotificationReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true" />-->

        <!--<provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:enabled="false"
            android:exported="false"
            tools:node="remove" />-->

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".NotificationForegroundService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".MyWorker"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>